
#Group_1 {
   
     z-index: 2;
    margin-top: 100px;
    opacity: 1;
    position: absolute;
    width: 174px;
    height: 163px;
    left: 93.059px;
    top: 104px;
    overflow: visible;
}
#Polygon_1 {
    opacity: 1;
    fill: rgba(0,255,93,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_1 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 65.941px;
    width: 42px;
    height: 59px;
}
#Polygon_2 {
    opacity: 1;
    fill: rgba(0,255,93,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_2 {
    transform: rotate(270deg);
    overflow: visible;
    position: absolute;
    top: 59.376px;
    left: 0px;
    width: 59px;
    height: 45px;
}
#Polygon_3 {
    opacity: 1;
    fill: rgba(0,255,93,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_3 {
    transform: rotate(90deg);
    overflow: visible;
    position: absolute;
    top: 59.376px;
    left: 115px;
    width: 59px;
    height: 45px;
}
#Polygon_4 {
    opacity: 1;
    fill: rgba(0,255,93,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_4 {
    transform: rotate(180deg);
    overflow: visible;
    position: absolute;
    top: 104px;
    left: 65.941px;
    width: 42px;
    height: 59px;
}

#Subtraction_1 {
 
    opacity: 1;
    fill: rgba(238,255,0,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Subtraction_1 {
     z-index: 1;
    margin-top: 100px;
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 127px;
    left: 120.7px;
    width: 119.3px;
    height: 118px;
}